.card {
    background: white;
    box-shadow: 0 2px 8px rgba(27, 16, 185, 0.75);
    border-radius: 20px;
    /* margin-top: 50px; */
    /* margin-inline: 350px; */
    width: 700px;
    margin: auto 470px;
    



  }


