.card {
  background: #2b354d;
  border-radius: 20px;
  width: 700px;
  height: 100px;
  // background-color: yellow;
  margin: auto;
  margin-top: 5rem;
}

.card__container {
  height: 100%;
  width: 100%;
  background-color: red;
}
