// p {
//   font-size: 2rem;
// }

// Spinner Variables
//********************************************************//
$color: #ffffff;
$size: 30px;
$speed: 0.75s;
$thickness: 8px; // Odd numbers created a "wobble" effect.

// Animation Keyframes
//********************************************************//
@keyframes rotateForever {
  0% {
    transform: (rotate(0deg));
  }
  100% {
    transform: (rotate(360deg));
  }
}

// The Loading Spinner™
//********************************************************//
.loadingspinner {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotateForever;
  animation-timing-function: linear;
  height: 2rem;
  width: 2rem;
  border: 3px solid #ffffff;
  border-radius: 50%;
  border-right-color: transparent;
  display: inline-block;
}
