.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: #0f172a;
  box-shadow: 0 5px 15px rgba(30, 23, 225, 0.8);
  border-bottom: solid blue 0.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.logo {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #dee2e6;
  margin: 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: #dee2e6;
  font-weight: bold;
  padding: 10px;
  border: solid 2px transparent;
  border-radius: 50px;
  transition: all 0.2s;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 2px solid #dee2e6;
  color: #dee2e6;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
}

.header a:hover {
  color: #dee2e6;
  border: solid 2px #dee2e6;
}

.header button:hover {
  background-color: #f8f9fa;
  color: black;
}
