.label {
  height: 3rem;
  width: 3rem;

  @media only screen and (max-width: 1150px) {
    height: 2.5rem;
    width: 2.5rem;
  }

  @media only screen and (max-width: 500px) {
    height: 2rem;
    width: 2rem;
  }
}

.editIcon {
  fill: #dee2e6;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    fill: burlywood;
    transform: translateY(-2px);
  }
}
