.flagIcon {
  height: 25px;
  width: 25px;
  fill: #dee2e6;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    fill: rgb(159, 18, 18);
    transform: translateY(-2px);
  }
}

.flagColored {
  height: 25px;
  width: 25px;
  fill: rgb(159, 18, 18);
  cursor: pointer;
}

.isNotButton {
  height: 25px;
  width: 25px;
}

.isNotButton {
  height: 25px;
  width: 25px;
  fill: rgb(159, 18, 18);
  margin-right: 2rem;
  margin-bottom: 5px;
}
