.flagIcon {
  height: 2.5rem;
  width: 2.5;
  fill: #dee2e6;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    fill: gold;
    transform: translateY(-2px);
  }
}

.flagColored {
  height: 2.5rem;
  width: 2.5rem;
  fill: gold;
  cursor: pointer;
}

.isNotButton {
  height: 2.5rem;
  width: 2.5rem;
}

.isNotButton {
  height: 2.5rem;
  width: 2.5rem;
  fill: gold;
  margin-bottom: 0.5rem;
}

.isNotButtonInvis {
  display: none;
}
