.newTodo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 30px;
  align-items: center;
  justify-items: center;

  &__icon__container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: center;
  }

  &__input {
    width: 90%;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 2rem;
    border: 5px solid transparent;
    transition: all 0.2s;
    padding-left: 1rem;

    &:hover {
      border: 5px solid gray;
    }
  }

  &__important {
    display: none;
    position: absolute;
  }

  &__button_submit {
    font-size: 2rem;
    color: #dee2e6;
    background-color: #1864ab;
    border: 1px solid #094175;
    border-radius: 20px;
    transition: all 0.2s;

    &:hover {
      background-color: #094175;
      border: 1px solid #094175;
      transform: translateY(-1px);
    }
  }
}
