// .container__newTodo {
//   // margin: 5rem 0rem;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
//   height: 100%;
//   width: 100%;
//   display: grid;
//   grid-template-columns: 70% 15% 15%;
//   align-items: center;
//   justify-items: center;
// }

.form {
  // width: 40rem;
  // display: grid;
  // grid-template-columns: 70% 30%;
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 30px;
  align-items: center;
  justify-items: center;

  &__icon__container {
    // margin-left: 2rem;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: center;
  }

  &__input {
    width: 90%;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 2rem;
    border: 5px solid transparent;
    transition: all 0.2s;
    padding-left: 1rem;

    &:hover {
      border: 5px solid gray;
    }
  }

  &__important {
    display: none;
    position: absolute;
  }

  &__button_submit {
    font-size: 2rem;
    color: #dee2e6;
    background-color: #1864ab;
    border: 1px solid #094175;
    border-radius: 20px;
    padding: 1px 5px;
    transition: all 0.2s;

    &:hover {
      background-color: #094175;
      border: 1px solid #094175;
      transform: translateY(-1px);
    }
  }
}

// .form {
//   margin: 2rem;
//   padding: 2rem;
//   display: flex;
//   align-items: stretch;
//   flex-direction: column;
// }

// .form input,
// .form button {
//   display: block;
// }

// .form input {
//   flex: 3;
//   font: inherit;
//   padding: 0.35rem 0.35rem;
//   border-radius: 6px;
//   border: 1px solid gray;
// }

// .form button {
//   flex: 5;
//   font: inherit;
//   padding: 0.35rem 0.35rem;
//   border-radius: 6px;
//   border: 1px solid black;
//   margin: 2rem;
// }

// .p {
//   text-align: center;
//   font-size: 30px;
// }

// .div {
//   margin: 2rem;
//   display: flex;
//   flex-direction: row;
//   float: inline-end;
// }

// .div input {
//   margin-right: 20px;
//   margin-top: 12px;
// }

// .div label {
//   margin-right: 50px;
// }
