.form {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    align-items:stretch;
    flex-direction: column;

}

.form input,
.form button {
    display: block;
}


.form input {
    flex: 3;
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid gray;
}



.form button {
    flex: 5;
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid black;
    margin: 2rem;

}

.p {
    text-align: center;
    font-size: 30px;
}

.div {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    float: inline-end;
}

.div input {
    margin-right: 20px;
    margin-top: 12px;
}

.div label{
  margin-right: 50px ;
}